/*changes to be made*/

/* body reset*/
body {
    margin: 0;
    padding: 0;
    background-color: #000 !important;
}

* {
    color: #fff;
}

/* the main page */
.main-heading {
    color: purple;
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
    background-color: beige;
    width: 100%;
    text-align: center;
}

ul li {
    line-height: 2rem;
}

p {
    color: #fff;
}

img {
    max-width: 20rem;
}

ul {
    list-style: none;
}
ul li a {
    color: blue
}

.text {
    font-size: 1.5rem;
    text-align: center;
    text-decoration: underline;
    color: khaki;
}